{% extends 'news/base.html' %}
{% block content %}
    <div class="hero-area">
        <div class="single-hero-slide bg-img background-overlay" id="slide2" style="height: 250px;">
            <div class="hero-content-pages">Participants</div>
        </div>
    </div>
{% if not participants %}
    <h2>There are currently no participants in this tournament</h2>

{% else %}
<div class="container section-padding-50">
    <center><h3>List of Participants Enrolled</h3></center>
    <table>
  <tr>
    <th>Name </th>
    <th>Email </th>
    {% for participant in participants %}
        <tr>
        <td>{{ participant.name }} </td>
        <td>{{ participant.mail }} </td>
        </tr>
    {% endfor %}

</table>
</div>
{% endif %}
{% endblock %}